@{
    ViewBag.Title = "About Me";
}
<h3 class="about">Full Stack Software Engineer</h3>
<h3 class="about">My Skills</h3>

<body class="about">
    <div class="skills">
        <div class="row">
            <div class="col-md-3">C#</div>
            <div class="col-md-3">Html5</div>
            <div class="col-md-3">CSS</div>
            <div class="col-md-3">Java</div>
        </div>

        <div class="row">
            <div class="col-md-3">Android studio</div>
            <div class="col-md-3">JavaScript</div>
            <div class="col-md-3">Asp.net</div>
            <div class="col-md-3">Object Oriented Programming</div>
        </div>

        <div class="row">
            <div class="col-md-3">Customer Service</div>
            <div class="col-md-3">Photoshop</div>
            <div class="col-md-3">Ajax</div>
            <div class="col-md-3">Json</div>
        </div>

        <div class="row">
            <div class="col-md-3">SQL</div>
            <div class="col-md-3">Git</div>
            <div class="col-md-3">Bootstrap</div>
            <div class="col-md-3">Computational Thinking</div>
        </div>
      
    </div>      
    <h1>@Html.ActionLink("View My Projects", "Index", "Mains")</h1>
    <a href="https://github.com/happypoofysquirrel" target="_blank"> <img src="~/Content/Images/icon_github.png" alt="Git Hub" /></a>
    
<h4 class="heading1">I began my IT career with a coding bootcamp at WeCanCodeIt in September of 2015.</h4>
    

<h4 class="heading1">Before coding i attended pastry school. I worked as pastry chef for 4 years specializing in custom cakes. </h4>


<table>
    <tr>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/FB_IMG_1428848280806.jpg" class="img-responsive img-circle"/></td>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/0904151152a.jpg" class="img-responsive img-circle"/></td>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/0829151125-1.jpg" class="img-responsive img-circle"/></td>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/0725151135.jpg" class="img-responsive img-circle"/></td>
    </tr>
</table>  
    
<table>
    <tr>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/thomas.jpg" class="img-responsive img-circle"/></td>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/wedding_mini_final.jpg" class="img-responsive img-circle"/></td>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/DSC_0067_edit1.jpg" class="img-responsive img-circle"/></td>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/IMG_0180.jpg" class="img-responsive img-circle"/></td>
    </tr>
</table>      

<table>
    <tr>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/IMG_0196.jpg" class="img-responsive img-circle"/></td>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/flower_cupcakes.jpg" class="img-responsive img-circle"/></td>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/1102141049a.jpg" class="img-responsive img-circle"/></td>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/1126141149b.jpg" class="img-responsive img-circle"/></td>
    </tr>
</table>    

<table>
    <tr>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/0509150917a.jpg" class="img-responsive img-circle"/></td>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/0815151237.jpg" class="img-responsive img-circle"/></td>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/1024151548.jpg" class="img-responsive img-circle"/></td>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/0404121728-1.jpg" class="img-responsive img-circle"/></td>
    </tr>
</table>  
  
<table>
    <tr>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/0801151015-1.jpg" class="img-responsive img-circle"/></td>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/0814121424a-1.jpg" class="img-responsive img-circle"/></td>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/0807121131-1.jpg" class="img-responsive img-circle"/></td>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/0829150924-1.jpg" class="img-responsive img-circle"/></td>
    </tr>
</table>     

<table>
    <tr>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/0627121538-1.jpg" class="img-responsive img-circle"/></td>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/0919151054-1.jpg" class="img-responsive img-circle"/></td>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/1023121548-1.jpg" class="img-responsive img-circle"/></td>
    </tr>
</table>    

<table>
    <tr>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/IMG_0967.jpeg" class="img-responsive img-circle" height="700" width="700" /> </td>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/snowman%20-%20friedman%20bat%20mitzvah.jpeg" class="img-responsive img-circle" height="700" width="700"/></td>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/IMG_20141024_113432.jpg" class="img-responsive img-circle"/></td>
    </tr>
</table>    
    <h3 class="about">Interests</h3>
    <h3 class="about">Racing Autocross</h3>
        
<table>
    <tr>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/20150927_114426.jpg" class="img-responsive img-circle"/></td>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/2015092795114424.jpg" class="img-responsive img-circle"/></td>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/IMG_20141010_182813.jpg" class="img-responsive img-circle"/></td>
    </tr>
</table>   
    
    <h3 class="about">Squirrels</h3> 

<table>
    <tr>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/1107150917-1.jpg" class="img-responsive img-circle"/></td>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/fat.jpg" class="img-responsive img-circle"/></td>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/black%20squirrel.jpg" class="img-responsive img-circle"/></td>
    </tr>
</table>   
</body>

