@{
    ViewBag.Title = "About Me";
}

<div class="about">


    


    <div class="skillsthing">

        <h1>Full Stack Software Engineer<span class="sym">_</span></h1>
        

        <div class="skillbar clearfix " data-percent="100%">
            <div class="skillbar-title" style="background: #d35400;"><span>C#</span></div>
            <div class="skillbar-bar" style="background: #e67e22;"></div>
            <div class="skill-bar-percent"></div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="95%">
            <div class="skillbar-title" style="background: #2980b9;"><span>HTML</span></div>
            <div class="skillbar-bar" style="background: #3498db;"></div>
            <div class="skill-bar-percent"></div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="90%">
            <div class="skillbar-title" style="background: #2c3e50;"><span>CSS</span></div>
            <div class="skillbar-bar" style="background: #2c3e50;"></div>
            <div class="skill-bar-percent"></div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="85%">
            <div class="skillbar-title" style="background: #46465e;"><span>Android Studio</span></div>
            <div class="skillbar-bar" style="background: #5a68a5;"></div>
            <div class="skill-bar-percent"></div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="80%">
            <div class="skillbar-title" style="background: #333333;"><span>OOP</span></div>
            <div class="skillbar-bar" style="background: #525252;"></div>
            <div class="skill-bar-percent"></div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="75%">
            <div class="skillbar-title" style="background: #27ae60;"><span>SQL</span></div>
            <div class="skillbar-bar" style="background: #2ecc71;"></div>
            <div class="skill-bar-percent"></div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="70%">
            <div class="skillbar-title" style="background: #124e8c;"><span>jQuery</span></div>
            <div class="skillbar-bar" style="background: #4288d0;"></div>
            <div class="skill-bar-percent"></div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="65%">
            <div class="skillbar-title" style="background: #d35400;"><span>JSON</span></div>
            <div class="skillbar-bar" style="background: #e67e22;"></div>
            <div class="skill-bar-percent"></div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="60%">
            <div class="skillbar-title" style="background: #2980b9;"><span>Java</span></div>
            <div class="skillbar-bar" style="background: #3498db;"></div>
            <div class="skill-bar-percent"></div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="55%">
            <div class="skillbar-title" style="background: #2c3e50;"><span>Javascript</span></div>
            <div class="skillbar-bar" style="background: #2c3e50;"></div>
            <div class="skill-bar-percent"></div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="50%">
            <div class="skillbar-title" style="background: #46465e;"><span>Bootstrap</span></div>
            <div class="skillbar-bar" style="background: #5a68a5;"></div>
            <div class="skill-bar-percent"></div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="45%">
            <div class="skillbar-title" style="background: #333333;"><span>Photoshop</span></div>
            <div class="skillbar-bar" style="background: #525252;"></div>
            <div class="skill-bar-percent"></div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="40%">
            <div class="skillbar-title" style="background: #27ae60;"><span>Ruby</span></div>
            <div class="skillbar-bar" style="background: #2ecc71;"></div>
            <div class="skill-bar-percent"></div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="35%">
            <div class="skillbar-title" style="background: #124e8c;"><span>Git</span></div>
            <div class="skillbar-bar" style="background: #4288d0;"></div>
            <div class="skill-bar-percent"></div>
        </div> <!-- End Skill Bar -->
       


        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script>
            jQuery(document).ready(function () {
                jQuery('.skillbar').each(function () {
                    jQuery(this).find('.skillbar-bar').animate({
                        width: jQuery(this).attr('data-percent')
                    }, 6000);
                });
            });
        </script>

    </div>
    <!--

    <h3 class="about">Full Stack Software Engineer</h3>
    <h3 class="about">My Skills</h3>


    <div class="skills">
        <div class="row">
            <div class="col-md-3">C#</div>
            <div class="col-md-3">Html5</div>
            <div class="col-md-3">CSS</div>
            <div class="col-md-3">Java</div>
        </div>

        <div class="row">
            <div class="col-md-3">Android studio</div>
            <div class="col-md-3">JavaScript</div>
            <div class="col-md-3">Asp.net</div>
            <div class="col-md-3">Object Oriented Programming</div>
        </div>

        <div class="row">
            <div class="col-md-3">Customer Service</div>
            <div class="col-md-3">Photoshop</div>
            <div class="col-md-3">Ajax</div>
            <div class="col-md-3">Json</div>
        </div>

        <div class="row">
            <div class="col-md-3">SQL</div>
            <div class="col-md-3">Git</div>
            <div class="col-md-3">Bootstrap</div>
            <div class="col-md-3">Computational Thinking</div>
        </div>
    </div>
        -->
    <h1>@Html.ActionLink("View My Projects", "Index", "Mains")</h1>
    <a href="https://github.com/happypoofysquirrel" target="_blank"> <img src="~/Content/Images/icon_github.png" alt="Git Hub" /></a>

     <h3 class="about">I began my IT career with a coding bootcamp at WeCanCodeIt in September of 2015.</h3>
   


    <h3 class="about">Before coding i attended pastry school. I worked as pastry chef for 4 years specializing in custom cakes. </h3>


    <table>
        <tr>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/FB_IMG_1428848280806.jpg" class="img-responsive img-circle" /></td>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/0904151152a.jpg" class="img-responsive img-circle" /></td>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/0829151125-1.jpg" class="img-responsive img-circle" /></td>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/0725151135.jpg" class="img-responsive img-circle" /></td>
        </tr>
    </table>

    <table>
        <tr>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/thomas.jpg" class="img-responsive img-circle" /></td>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/wedding_mini_final.jpg" class="img-responsive img-circle" /></td>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/DSC_0067_edit1.jpg" class="img-responsive img-circle" /></td>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/IMG_0180.jpg" class="img-responsive img-circle" /></td>
        </tr>
    </table>

    <table>
        <tr>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/IMG_0196.jpg" class="img-responsive img-circle" /></td>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/flower_cupcakes.jpg" class="img-responsive img-circle" /></td>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/1102141049a.jpg" class="img-responsive img-circle" /></td>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/1126141149b.jpg" class="img-responsive img-circle" /></td>
        </tr>
    </table>

    <table>
        <tr>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/0509150917a.jpg" class="img-responsive img-circle" /></td>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/0815151237.jpg" class="img-responsive img-circle" /></td>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/1024151548.jpg" class="img-responsive img-circle" /></td>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/0404121728-1.jpg" class="img-responsive img-circle" /></td>
        </tr>
    </table>

    <table>
        <tr>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/0801151015-1.jpg" class="img-responsive img-circle" /></td>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/0814121424a-1.jpg" class="img-responsive img-circle" /></td>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/0807121131-1.jpg" class="img-responsive img-circle" /></td>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/0829150924-1.jpg" class="img-responsive img-circle" /></td>
        </tr>
    </table>

    <table>
        <tr>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/0627121538-1.jpg" class="img-responsive img-circle" /></td>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/0919151054-1.jpg" class="img-responsive img-circle" /></td>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/1023121548-1.jpg" class="img-responsive img-circle" /></td>
        </tr>
    </table>

    <table>
        <tr>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/IMG_0967.jpeg" class="img-responsive img-circle" height="700" width="700" /> </td>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/snowman%20-%20friedman%20bat%20mitzvah.jpeg" class="img-responsive img-circle" height="700" width="700" /></td>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/IMG_20141024_113432.jpg" class="img-responsive img-circle" /></td>
        </tr>
    </table>

    <h3 class="about">Interests</h3>

    <h3 class="about">I play the bassoon aswell as just about any instrument you put in front of me.</h3>
    <h3 class="about">Recipient of the John Phillip Sousa Award.</h3>

    <table>
        <tr>
            <td><img src="https://www.yamahamusiclondon.com/sites/ymlv5.72/productimages/big/YAM-YFG811II.jpg" class="img-responsive img-rounded" /></td>
            <td><img src="https://i.embed.ly/1/display?key=fc778e44915911e088ae4040f9f86dcd&url=http%3A%2F%2Fwww.stewartfamilychiro.com%2Fattachments%2FImage%2Fviolin_pictures__5.jpg" class="img-responsive img-rounded" /></td>
            <td><img src="https://chesbroretail.com/wp-content/uploads/2015/06/light-oboe.jpg" class="img-responsive img-rounded" /></td>
        </tr>
    </table>

    <h3 class="about">Racing Autocross</h3>

    <table>
        <tr>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/20150927_114426.jpg" class="img-responsive img-circle" /></td>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/2015092795114424.jpg" class="img-responsive img-circle" /></td>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/IMG_20141010_182813.jpg" class="img-responsive img-circle" /></td>
        </tr>
    </table>

    <h3 class="about">Squirrels</h3>

    <table>
        <tr>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/1107150917-1.jpg" class="img-responsive img-circle" /></td>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/fat.jpg" class="img-responsive img-circle" /></td>
            <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/black%20squirrel.jpg" class="img-responsive img-circle" /></td>
        </tr>
    </table>

</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
              

                $(document).ready(function(){
                $("span.sym").bind('fade-cycle', function () {
                    $(this).fadeOut('slow', function () {
                        $(this).fadeIn('slow', function () {
                            $(this).trigger('fade-cycle');
                        });
                    });
                });
                });
                $(document).ready(function() {
                    $("span.sym").each(function (index, elem) {
                        setTimeout(function () {
                            $(elem).trigger('fade-cycle');
                        }, index * 250);
                    });
                });
</script>