@{
    ViewBag.Title = "About Me";
}
<h3 class="about">Full Stack Software Engineer</h3>
<h3 class="about">My Skills</h3>

<body class="about">
    <div class="skills">
        <div class="row">
            <div class="col-md-3">C#</div>
            <div class="col-md-3">Html5</div>
            <div class="col-md-3">CSS</div>
            <div class="col-md-3">Java</div>
        </div>

        <div class="row">
            <div class="col-md-3">Android studio</div>
            <div class="col-md-3">JavaScript</div>
            <div class="col-md-3">Asp.net</div>
            <div class="col-md-3">Object Oriented Programming</div>
        </div>

        <div class="row">
            <div class="col-md-3">Customer Service</div>
            <div class="col-md-3">Photoshop</div>
            <div class="col-md-3">Ajax</div>
            <div class="col-md-3">Json</div>
        </div>

        <div class="row">
            <div class="col-md-3">SQL</div>
            <div class="col-md-3">Git</div>
            <div class="col-md-3">Bootstrap</div>
            <div class="col-md-3">Computational Thinking</div>
        </div>
      
    </div>      
    <h1>@Html.ActionLink("View My Projects", "Index", "Mains")</h1>
    <a href="https://github.com/happypoofysquirrel" target="_blank"> <img src="~/Content/Images/icon_github.png" alt="Git Hub" /></a>
    
<h4 class="heading1">I began my IT career with a coding bootcamp at WeCanCodeIt in September of 2015.</h4>
    

<h4 class="heading1">Before coding i attended pastry school. I worked as pastry chef for 4 years specializing in custom cakes. </h4>


<table>
    <tr>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/FB_IMG_1428848280806.jpg" class="img-responsive"/></td>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/0904151152a.jpg" class="img-responsive"/></td>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/0829151125-1.jpg" class="img-responsive"/></td>
        <td><img src="http://i239.photobucket.com/albums/ff248/1guyver2/0725151135.jpg" class="img-responsive"/></td>
    </tr>
</table>    
</body>

