
@{
    ViewBag.Title = "Sent";
}

<h2>Your message has been Sent</h2>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    alert("Message Sent!");

});
</script>