@model IEnumerable<Final2.Models.Main>

@{
    ViewBag.Title = "Index";
}


<div class="projectsbody">




    @foreach (var item in Model)
    {


        <h1 class="projectheading">@Html.DisplayFor(model => item.Name)<span class="sym">_</span></h1>


        <p class="projectp">@Html.DisplayFor(modelItem => item.Description)</p>


        <img class="projectScreenshot" src="@Url.Content(item.Screenshot)" img-responsive />


        <a href="@Html.DisplayFor(modelItem => item.Git)" target="_blank"> <img src="~/Content/Images/icon_github.png" alt="Git Hub" /> </a>

    }
    

</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>

<script>

                $(document).ready(function(){
                $("span.sym").bind('fade-cycle', function () {
                    $(this).fadeOut('slow', function () {
                        $(this).fadeIn('slow', function () {
                            $(this).trigger('fade-cycle');
                        });
                    });
                });
                });
                $(document).ready(function() {
                    $("span.sym").each(function (index, elem) {
                        setTimeout(function () {
                            $(elem).trigger('fade-cycle');
                        }, index * 250);
                    });
                });

</script>