@model IEnumerable<Final2.Models.Main>

@{
    ViewBag.Title = "Index";
}


<div class="projectsbody">


    <h1 class="projectheading">Omg Squirrel<span class="sym">_</span></h1>


    <p class="projectp">A in progress android application with a gallery and information about squirrels.</p>


    <img class="projectScreenshot" src=" ~/Content/Images/OmgSquirrel.GIF" img-responsive />


    <a href="https://github.com/happypoofysquirrel/OmgSquirrel" target="_blank"> <img src="~/Content/Images/icon_github.png" alt="Git Hub" /> </a>



    <h1 class="projectheading">PiesPiesPies<span class="sym">_</span></h1>


    <p class="projectp">A mvc application for a pie store. Shows an example of using foreign keys.</p>


    <img class="projectScreenshot" src="~/Content/Images/piespiespies2.GIF" img-responsive />


    <a href="https://github.com/happypoofysquirrel/piespiespies" target="_blank"> <img src="~/Content/Images/icon_github.png" alt="Git Hub" /> </a>



    <h1 class="projectheading">Movie Store<span class="sym">_</span></h1>


    <p class="projectp">Application that allows the user to checkout movies, check if any movies are past their due date, and return movies with a total amount due based on whether the movie was overdue.</p>


    <img class="projectScreenshot" src="~/Content/Images/rental.GIF" img-responsive />


    <a href="https://github.com/happypoofysquirrel/Group-Projects/tree/master/Movie%20Rental%20Group2" target="_blank"> <img src="~/Content/Images/icon_github.png" alt="Git Hub" /> </a>



    <h1 class="projectheading">FizzBuzz<span class="sym">_</span></h1>


    <p class="projectp">An application that simulates the game fizzbuzz. Shows the use of conditional statements aswell as input from the console.</p>


    <img class="projectScreenshot" src="~/Content/Images/fizzbuzzz.GIF" img-responsive />


    <a href="https://github.com/happypoofysquirrel/CodeEval/tree/master/fizzbuzz/fizzbuzz" target="_blank"> <img src="~/Content/Images/icon_github.png" alt="Git Hub" /> </a>



    <h1 class="projectheading">I.O. Funny Sentence Randomizer<span class="sym">_</span></h1>


    <p class="projectp">A console application that inputs from a file a series of verbs nouns and pronouns and outputs a random sentence generated from those words to a file.</p>


    <img class="projectScreenshot" src="~/Content/Images/IORan.GIF" img-responsive />


    <a href="https://github.com/happypoofysquirrel/I.O.FunnySentenceRandomizer" target="_blank"> <img src="~/Content/Images/icon_github.png" alt="Git Hub" /> </a>



    <h1 class="projectheading">Cats<span class="sym">_</span></h1>


    <p class="projectp">A MVC appliaction that contains an example of javascript.</p>


    <img class="projectScreenshot" src="~/Content/Images/javascriptexample.GIF" img-responsive />


    <a href="https://github.com/happypoofysquirrel/Cats" target="_blank"> <img src="~/Content/Images/icon_github.png" alt="Git Hub" /> </a>



    <h1 class="projectheading">This Website<span class="sym">_</span></h1>


    <p class="projectp">This website was created using a database first MVC application. I took away as much of the MVC template as possible and started from scratch. I created my own "hamburger" navigation bar and used a forloop through razor syntax in the view to loop through each item in the database, making it very easy to update and add projects. I simply have to add or change the items in the database for them to appear on this page.</p>

    <img class="projectScreenshot" src="~/Content/Images/Database Loop.GIF" img-responsive />


    <a href="https://github.com/happypoofysquirrel/PortfolioFinal" target="_blank"> <img src="~/Content/Images/icon_github.png" alt="Git Hub" /> </a>

    

</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>

<script>

                $(document).ready(function(){
                $("span.sym").bind('fade-cycle', function () {
                    $(this).fadeOut('slow', function () {
                        $(this).fadeIn('slow', function () {
                            $(this).trigger('fade-cycle');
                        });
                    });
                });
                });
                $(document).ready(function() {
                    $("span.sym").each(function (index, elem) {
                        setTimeout(function () {
                            $(elem).trigger('fade-cycle');
                        }, index * 250);
                    });
                });

</script>